<% layout('layout') -%>

  <h2>Group chat room </h2>
  
  <div id="nickWrap">
    <p>Enter a username:</p>
    <p id="nickError"></p>
    <form id="setNick">
      <input type="text" id="nickname">
      <input type="submit">
    </form>
  </div>

  <div id="contentWrap">
    <div id="chatWrap">
      <div id="chat"></div>
      <form id="send-message">
        <input type="text" id="message" size="35">
        <input type="submit">
      </form>
    </div>

    <div id="users"></div>
  </div>
