<% layout('layout') -%>
 
<header class="home-banner">
    <h1 class="home-banner-text">
      <a id="logo" href="/">Webchat <span>Application</span></a>
    </h1>
  </header>
  
  <section>
    <div class="home-section">

      <div class="webchat">
        <img src="https://www.ladesk.com/fileadmin/images/features/chat_button_liveagent.png" alt="webchatlogo" id="webchat-logo">
        <h2 id="chat-logo-text"> powered web chat</h2>
      </div>
      
      <div class="actions">
        <a href="/private" id="create-private">
          <div class="create-private-button">
            <div class="big">Create a Private</div>
            <div class="little">CHAT ROOM</div>
          </div>
        </a>

        <a href="/group" id="join-group-room">
          <div class="join-group-button">
            <div class="big">Join a Group</div>
            <div class="little">CHAT ROOM</div>
          </div>
        </a>
      </div>
      

      <div class="source-code">
        <a href="https://github.com/EmilyBie/WDI_Final_Project_Webchat_Nodejs" id="source-link">View code on Github</a>
      </div>
    </div>
  </section>
  

