<!DOCTYPE html>
<html>
  <head>
    <title>chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="layout">
      <%- body %>
      <div id="layout-footer"></div>
    </div>

      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="../javascripts/chat.js"></script>
  </body>
</html>